/***********Main Structure Start***********/
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  
}

footer {
  position: absolute;
  bottom: 0;
}

 * {
  width: 100%;
  text-align: center;
}
/***********Main structure end Start***********/
/***********Images Start***********/
body, html {
  height: 100%;
  margin: 0;
}

#bg {
  background: url("../images/holiday-deals-frontpage.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-packet{
    padding-left: 10px;
}

/***********Images End***********/
/***********Footer Start***********/


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: yellow;
}

#footer-pages {
    background-color: #808080;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    
}
#footer {
    background-color:	#808080;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    position: absolute;
    
}
#footer-details {
    padding: 20px;
}

#footer-style{
    justify-content: center;
    width: 40px;
    display: inline-flex;
}

#footer-style-map{
     
    margin-top:30px;
}


/***********Footer End***********/
/***********Buttons start***********/


.button {
  background-color: #FFC43D;
  border: none;
  color: #F8FFE5;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  }
/***********Buttons end***********/
/***********Paragraphs Start***********/
.price {
    font-weight: bold;
    text-align: center;
    font-size:30px;
    padding: 30px;
}
.name-of-packet{
    font-size:30px;
    text-align: center;
    Padding: 30px;
    
}

.paragraph-description{
    font-size: 20px;
    padding-top: 40px;
    text-decoration: none;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph-description-info{
     font-size: 20px;
    
    text-decoration: none;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.packet-description{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}

.header-1{
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    padding: 20px;
    color:#FFC43D;

}
.header-2{
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
    color:#EF467F;
}

.contact-from-header{
    font-weight: bold;
    
}
.all-inclusive-list{
    line-height: 2;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color:#EF467F;
    list-style-type: none;

}
#all-inclusive-style{
    padding-top:50px;
}


.granada{
    font-size: 14px;
    text-align: justify;
    font-style: italic;
    padding-bottom:45px;
}

.arles {font-size: 14px;
    text-align: justify;
    font-style: italic;}

.lucerne{ font-size: 14px;
    text-align: justify;
    font-style: italic;
    padding-bottom: 20px;}
/***********Paragrapsh end***********/
/***********Map start***********/
#map {
  height: 765px;
  
  
}

/***********Map end***********/

/***********Contact From styling start***********/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #1B9AAA;
    font-size: 15px;
}


#contact-button{
    
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    border-style: none;
    font-size: 30px;
    background-color:#808080;
    
}

a {
    color:#FFC43D;
}


/***********Contact From styling end***********/

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    
    bottom: 0
}

#navbar-style{
    width:25%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color:	#303030;
}

#navbar-style-map{
    font-size:30px;
    font-weight: bold;
     color:	#303030;
}
#navbar-style-holiday{
    font-size:30px;
    font-weight: bold;
     color:	#303030;
}
#navbar-style-contact{
    font-size:30px;
    font-weight: bold;
     color:	#303030;
}