/***********Images Start***********/
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background: url("../images/holiday-deals-frontpage.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/***********Images End***********/
/***********Main structure Start***********/
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

* {
  width: 100%;
  text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}

.social-links li a i:hover {
    background: #e84610;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
#footer-details {
    padding: 20px;
}

.list{text-align:center}

.list li{display:inline-block;margin:5px;}
/***********Main structure End***********/
/***********Navbar styling Start***********/


/***********Main structure End***********/
